@model ActionResults.Models.EmployeeAddViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
 <head>
    Add
  </head>
    <body>
       <form asp-controller="Employee" asp-action="Add" method="post"> 
           <section>
                <label asp-for= "Employee.Id"></label>
                <input asp-for="Employee.Id" />
                <span style="color:red" asp-validation-for="Employee.Id"></span>
            </section>


            <section>
                <label asp-for="Employee.Firstname" ></label>
                <input asp-for="Employee.Firstname" />
                <span style="color:red" asp-validation-for="Employee.Firstname"></span>

            </section>


            <section>
            <label asp-for="Employee.Lastname"></label>
            <input asp-for="Employee.Lastname" />
            <span style="color:red" asp-validation-for="Employee.Firstname"></span>

            </section>


            <section>
                <label asp-for="Employee.CityId"></label>
                <select asp-for="Employee.CityId" asp-items="Model.Cities"></select>
                
            </section>


            <section>
                <button type="submit">Add</button>

            </section>
        </form>
     </body>
</html>